
extends layout



block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}



block prepend ogMeta
  - var pageUrl = locals.url + page.url
  meta(property='og:title', content= page.title)
  meta(property='og:site_name', content= locals.name)
  meta(property='og:url', content= pageUrl)
  meta(property='og:image', content= pageUrl+page.metadata.image)


block content
  article.article.markdown-body
    include author
    
  
    
    h2= page.title
    p.author
      span.octicon.octicon-pencil 
      | 
      mixin author(page.metadata.author)
    
    if page.metadata.spot 
      section.project.blankslate
        p
          span.octicon.octicon-comment
          | Amaç: 
          = page.metadata.purpose 
        if page.metadata.projectUrl  
          a(href=page.metadata.projectUrl).btn
            span.octicon.octicon-dashboard
            | Demo
        if page.metadata.projectCode
          a(href=page.metadata.projectCode).btn.btn-primary
            span.octicon.octicon-mark-github
            | Kaynak kod
      
      
      if page.metadata.packages
        .dependencies
          span.octicon.octicon-tag 
          each package in page.metadata.packages 
            code
              a( target='_blank', rel='nofollow', href='https://www.npmjs.com/package/'+package)= package
        
    br
    
    section.content!= typogr(page.html).typogrify()
    
  
    
    include partials/related 
    
    
    #disqus_thread 
    
    - var pageUrl = locals.url + '/'+ page.url
    
    script.
      
      var disqus_config = function () {
      this.page.url = '#{pageUrl}';
      this.page.identifier = '#{page.url}'; 
      };
      
      (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//nodejsdersleri.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    noscript
      | Please enable JavaScript to view the 
      a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.

    
    
    
